<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.llcon.youshanxunche.mapper.DeviceMapper">
    <insert id="inst">
        insert into tb_device (id, mac_address, create_time, update_time)
        values (uuid_to_bin(#{id}), unhex(#{macAddress}), #{createTime}, #{updateTime})
    </insert>
    <update id="updateById">
        update tb_device
        <set>
            name=#{name},
            comment=#{comment},
            update_time=#{updateTime},
            <if test='userId != null'>
                user_id=#{userId},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="list" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(d.id) as id,
        bin_to_uuid(d.user_id) as user_id,
        hex(d.mac_address) as mac_address,
        d.name as name,
        d.comment as comment,
        d.create_time as create_time,
        data.date as last_recode_time
        from tb_device d
        left join (select device_id, MAX(create_time) date
        from tb_pos
        group by device_id) data on d.id = data.device_id
        <where>
            <if test="userId != null and userId != 'null'">
                and user_id = uuid_to_bin(#{userId})
            </if>
            <if test="userId == 'null'">
                and user_id is null
            </if>
            <if test="id != null">
                and id = UUID_TO_BIN(#{id})
            </if>
        </where>
        order by id desc
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*)
        from tb_device
    </select>
    <select id="getById" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(id)      as id,
               name,
               bin_to_uuid(user_id) as user_id,
               comment,
               hex(mac_address)     as mac_address,
               create_time,
               update_time
        from tb_device
        where id = uuid_to_bin(#{id})
    </select>
    <select id="getByIdAndMacAddress" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(id)      as id,
               name,
               bin_to_uuid(user_id) as user_id,
               comment,
               hex(mac_address)     as mac_address,
               create_time,
               update_time
        from tb_device
        where id = #{id}
          and mac_address = #{macAddress}
    </select>
    <select id="getTotalByUserId" resultType="java.lang.Long">
        select count(*) as totol
        from tb_device
        where user_id = uuid_to_bin(#{uid})
    </select>
    <select id="listByUserId" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(d.id)    as id,
               d.name,
               bin_to_uuid(user_id) as user_id,
               d.comment,
               hex(d.mac_address)   as mac_address,
               d.create_time,
               d.update_time,
               date.date               last_recode_time
        from tb_device d
                 left join (select device_id, MAX(create_time) date
                            from tb_pos
                            group by device_id) date on d.id = date.device_id
        where user_id = uuid_to_bin(#{uid})
        order by last_recode_time desc
    </select>
</mapper>