<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.llcon.youshanxunche.mapper.DeviceMapper">
    <insert id="inst">
        insert into tb_device (id,user_id, mac_address, create_time, update_time)
        values (uuid_to_bin(#{id}),uuid_to_bin(#{userId}),unhex(#{macAddress}),#{createTime},#{updateTime})
    </insert>


    <update id="updateById">
        update device
        <set>
            name=#{name},
            description=#{description},
            update_time=#{updateTime}
        </set>
        where id=uuid_to_bin(#{id})
    </update>

    <select id="list" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(d.id) as id, d.name, bin_to_uuid(user_id) as user_id, d.comment, hex(d.mac_address) as mac_address, d.create_time, d.update_time, date.date last_recode_time
        from tb_device d
                 left join (select device_id, MAX(create_time) date
                            from tb_pos
                            group by device_id) date on d.id = date.device_id
        order by last_recode_time desc
    </select>


    <select id="getTotal" resultType="java.lang.Long">
        select count(*)
        from tb_device
    </select>


    <select id="getById" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(id) as id, name, bin_to_uuid(user_id) as user_id, comment, hex(mac_address) as mac_address, create_time, update_time
        from tb_device
        where id= uuid_to_bin(#{id})
    </select>

    <select id="getByIdAndMacAddress" resultType="cc.llcon.youshanxunche.pojo.Device">
        select bin_to_uuid(id) as id, name, bin_to_uuid(user_id) as user_id, comment, hex(mac_address) as mac_address, create_time, update_time
        from tb_device
        where id = uuid_to_bin(#{id}) and mac_address = unhex(#{macAddress});
    </select>

</mapper>