<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.llcon.youshanxunche.mapper.LogMapper">
    <select id="getListOperateLogClass" resultType="string">
        select distinct(class_name)
        from operate_log
    </select>
    <select id="getOperateLogMethodListByClassName" resultType="string">
        select distinct(method_name)
        from operate_log
        where class_name=#{classname};
    </select>
        <select id="getListOperateLog" resultType="cc.llcon.youshanxunche.pojo.OperateLog">
        select id,
        bin_to_uuid(operate_user) operate_user,
        operate_time,
        class_name,
        method_name,
        method_params,
        return_value,
        cost_time
        from operate_log
        <where>
            <if test="classname != null">
                class_name = #{classname}
            </if>
            <if test="method != null">
                and method_name = #{method}
            </if>
            <if test="begin!=null and end != null">
                and operate_time between #{begin} and #{end}
            </if>
        </where>
        ORDER BY operate_time DESC ,id DESC
        </select>
</mapper>