<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.llcon.youshanxunche.mapper.UserMapper">
    <insert id="inst">
        insert into tb_user (id, username, name, gender, email, password, salt, create_time, update_time,
                             last_login_time)
        values (uuid_to_bin(#{id}),
                #{username},
                #{name},
                #{gender},
                #{email},
                #{password},
                uuid_to_bin(#{salt}),
                #{createTime},
                #{updateTime},
                #{lastLoginTime})
    </insert>
    <!--    更新用户资料-->
    <update id="update">
        update tb_user
        <set>
            <if test="password!=null">password=#{password},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="failCount!=null">fail_count=#{failCount},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="lastLoginTime!=null">last_login_time=#{lastLoginTime}</if>
        </set>
        where id= uuid_to_bin(#{id})
    </update>
    <!--    根据用户名查询-->
    <select id="getByUsername" resultType="cc.llcon.youshanxunche.pojo.User">
        select bin_to_uuid(id)                     as id,
               username,
               name,
               email,
               password,
               replace(bin_to_uuid(salt), '-', '') as salt,
               gender,
               permission,
               fail_count,
               create_time,
               update_time,
               last_login_time
        from tb_user
        where username = #{username}
    </select>
    <select id="getByEmail" resultType="cc.llcon.youshanxunche.pojo.User">
        select bin_to_uuid(id)                     as id,
               username,
               name,
               gender,
               email,
               password,
               replace(bin_to_uuid(salt), '-', '') as salt,
               permission,
               fail_count,
               create_time,
               update_time,
               last_login_time
        from tb_user
        where email = #{email}
    </select>
    <select id="getById" resultType="cc.llcon.youshanxunche.pojo.User">
        select bin_to_uuid(id)   as 'id',
               username,
               name,
               gender,
               email,
               password,
               bin_to_uuid(salt) as 'salt',
               permission,
               fail_count,
               create_time,
               update_time,
               last_login_time
        from tb_user
        where id = uuid_to_bin(#{uid})
    </select>
    <select id="listByParam" resultType="cc.llcon.youshanxunche.pojo.User">
        select bin_to_uuid(id) as id,
        username,
        name,
        gender,
        email,
        permission,
        fail_count,
        create_time,
        last_login_time
        from tb_user
        <where>
            <if test="id != null">
                id = UUID_TO_BIN(#{id})
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="email != email">
                and email = #{email}
            </if>
            <if test="createTimeBegin != null and createTimeEnd != null">
                and create_time between #{createTimeBegin}and #{createTimeEnd}
            </if>
            <if test="lastLoginTimeBegin != null and lastLoginTimeEnd != null">
                and last_login_time between #{lastLoginTimeBegin}and #{lastLoginTimeEnd}
            </if>
            <if test="gender != null">and gender = #{gender}</if>
            <if test="permission != null">and permission = #{permission}</if>
            <if test="failCount != null">and fail_count = #{failCount}</if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>


</mapper>